/*
 * @Author: Dheeraj Chaudhary 
 * @Date: 2018-04-08 22:51:56 
 * @Last Modified by: Dheeraj.Chaudhary@contractor.hallmark.com
 * @Last Modified time: 2018-04-10 11:33:42
 */

* {
    /* So 100% means 100% */
    box-sizing: border-box;
}

html,
body {
    /* Make the body to be as tall as browser window */
    height: 100%;
    background: white;
    /* padding: 20px; */
}

#home-section {
    margin-bottom: 200px;
}

.main-table-div {
    overflow: auto;
    position: relative;
    max-height: 300px;
}

.main-table {
    font-size: 13px;
}

.main-table thead {
    width: 100%;
    /* overflow: auto;
    width: 100%;
    display: block; */
}

.main-table tbody {
    width: 100%;
    /* width: 100%;
    display: block;
    overflow: auto;
    height: 200px; */
}